# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [2]:
# Add your code for Question 1 in this code block
import pandas as pd
import matplotlib.pyplot as plt

---


### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block
data  = pd.read_csv("application_data.csv")
data.head(10)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
5,027610141,302955854172,2018-12-22,6,45000.0,10.0,90,2019-03-21,2019-01-09
6,390748423,302941689535,2018-12-19,4,90000.0,5.0,180,2019-06-18,2019-01-15
7,642947351,302945727970,2018-12-19,3,45000.0,10.0,90,2019-03-19,2019-01-16
8,227382168,302953081988,2018-12-21,4,45000.0,10.0,90,2019-03-20,2019-01-16
9,380684555,302997991362,2019-01-03,4,30000.0,10.0,90,2019-04-02,2019-01-11

In [4]:
data.describe(include=["O"])

,customerID,loanId,appilcationDate,repaymentDueDate,repaymentPaidDate
count,1000,1000,1000,1000,1000
unique,985,1000,254,302,263
top,686128144,301761523783,2018-12-19,2019-01-26,2019-01-16
freq,4,1,47,18,45

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [12]:
# convert to dates

data["appilcationDate"] = pd.to_datetime(data["appilcationDate"]) 
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [6]:
# data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null object
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null object
repaymentPaidDate    1000 non-null object
cov_date             1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 78.2+ KB

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [8]:
# 2a avg loan amount

loanamount = data.LoanAmount #["LoanAmount"]
type(loanamount)
mean_loan = round(loanamount.mean(), 2)
mean_loan

13828.08

In [18]:
# 2b avg interest rate

In [19]:
# 2c avg term days 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null datetime64[ns]
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null datetime64[ns]
repaymentPaidDate    1000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [15]:
# date difference
data['dateDifference'] = data['repaymentPaidDate'] -  data['repaymentDueDate']
data
# number of loans more than 3 days late
is_greater_than3 = data.dateDifference.dt.days > 3
is_greater_than3
late_payments = data[is_greater_than3]#new table of people who payed later than 3days
# late_payments
# late_payments.count()
late_count = len(late_payments)
total = len(data)

In [ ]:
late_count

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [36]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
grouped_termed = data.groupby("TermDays")

grouped_termed.mean().LoanAmount
mean_loan_30days = list(grouped_termed.mean()['LoanAmount'])[1]
mean_loan_30days
#standard deviation of loan amount in 90-day loans
std_loan_90days = list(grouped_termed.std()['LoanAmount'])[4]

print(f"Mean 30day --> {round(mean_loan_30days,2)}, Standard dev 90day --> {round(std_loan_90days,2)}")

Mean 30day --> 7941.96, Standard dev 90day --> 18050.14

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [44]:
# late_payments["week"] = late_payments['appilcationDate'].dt.week
# late_payments

In [47]:
late_pay_filter = late_payments["week"] == 2
# late_pay_filter
late_payments[late_pay_filter].dateDifference.mean()

Timedelta('45 days 18:00:00')

In [43]:
# week of year and average number of late days
# late_payments['late_int'] =  late_payments.dateDifference.dt.days
# appilcationDate = late_payments.groupby(late_payments['appilcationDate'].dt.week).mean()
# appilcationDate
avg_on_second_week = appilcationDate["late_int"]
avg_on_second_week[2]
# appilcationDate
# late_payments

45.75

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.